body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background:black;
  color: white;
  padding: 20px;
  text-align: center;
}

.top-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

input,
select,
button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #111827;
  color: white;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}

.cart-box {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

.cart-section,
.payment-section,
.admin-panel {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.remove-btn {
  background: red;
}

.payment-section form,
.admin-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dark {
  background: #111827;
  color: white;
}

.dark .card,
.dark .cart-section,
.dark .payment-section,
.dark .admin-panel {
  background: #1f2937;
  color: white;
}

@media (max-width: 768px) {

  .top-controls {
    flex-direction: column;
    align-items: center;
  }

  .cart-item {
    flex-direction: column;
    text-align: center;
  }

}